mixin modal-b()
    include ../../components/nav/nav
    include ../../components/socials/socials
    include ../../components/languages/languages

    -
        const modalForm = {
            agreement: {
                ru: 'Нажимая на кнопку, вы принимаете <a class="link" data-id="policy" href="javascript:;" target="_blank">Положение и Согласие</a> на обработку персональных данных',
                en: 'By clicking on the button, you accept <a class="link" data-id="policy" href="javascript:;" target="_blank">the Regulation and Consent</a> to the processing of personal data'
            },
            placeholder: {
                ru: 'Ваше имя',
                en: 'Your name'
            }
        };
    -
        const policy = {
            title: {
                ru: 'Политика <br>конфиденциальности',
                en: 'Privacy policy'
            },
            text: [
                {
                    ru: 'Данная Политика конфиденциальности применима к данному Сайту. После просмотра данного Сайта обязательно прочитайте текст, содержащий политику конфиденциальности используемого сайта. В случае несогласия с данной Политикой конфиденциальности прекратите использование данного Сайта. Заполнив любую из форм и используя данный Сайт, Вы тем самым выражаете согласие с условиями изложенной ниже Политики конфиденциальности. Сайт охраняет конфиденциальность посетителей сайта. Персональная информация Для того чтобы оказывать вам услуги, отвечать на вопросы, выполнять ваши пожелания и требования требуется такая информация, как ваше имя и номер телефона. САЙТ может использовать указанную информацию для ответов на запросы, а также для связи с Вами по телефону с целью предоставления информации о предлагаемых САЙТ услугах и рекламных кампаниях. При поступлении от вас обращения в виде отправки любой заполненной на сайте формы САЙТ может потребоваться связаться с Вами для получения дополнительной информации, необходимой для вашего обслуживания и ответа на интересующие вопросы. САЙТ обязуется не передавать данную информацию третьим лицам без Вашего разрешения, за исключением информации, необходимой для выполнения вашего обслуживания. Со своей стороны, Вы предоставляете САЙТ право использовать любую сообщнную Вами информацию для выполнения указанных выше действий.',
                    en: 'This Privacy Policy applies to this Site. After viewing this Site, be sure to read the text containing the privacy policy of the site used. If you disagree with this Privacy Policy, stop using this Site. By filling out any of the forms and using this Site, you thereby agree to the terms of the Privacy Policy set forth below. The site protects the privacy of site visitors. Personal information In order to provide you with services, answer questions, fulfill your wishes and requirements, information such as your name and telephone number is required. The SITE may use this information to respond to inquiries, as well as to contact you by phone in order to provide information about the services offered by the SITE and advertising campaigns. When you receive a request from you in the form of sending any form filled out on the site, the SITE may need to contact you to obtain additional information necessary for your service and answer your questions. The SITE undertakes not to transfer this information to third parties without your permission, with the exception of the information necessary to perform your service. For your part, you grant the SITE the right to use any information you provide to perform the above actions.'
                },
                {
                    title: {
                        ru: 'Безопасность',
                        en: 'Safety'
                    },
                    ru: 'Передача персональных данных в любой форме (лично, по телефону или через Интернет) всегда связана с определенным риском, поскольку не существует абсолютно надежных (защищенных от злонамеренных посягательств) систем, однако САЙТ принимает необходимые адекватные меры для минимизации риска и предотвращения несанкционированного доступа, несанкционированного использования и искажения Ваших персональных данных. Несовершеннолетние САЙТ не принимает никакой информации от лиц моложе 18 лет без согласия их родителей или законных опекунов. Кроме того, лица моложе 18 лет не могут совершать каких-либо покупок или иных юридических действий на данном Сайте без согласия родителей или законных опекунов, если это не допускается законодательством.',
                    en: 'The transfer of personal data in any form (in person, by phone or via the Internet) is always associated with a certain risk, since there are no absolutely reliable (protected from malicious attacks) systems, however, the SITE takes the necessary adequate measures to minimize the risk and prevent unauthorized access, unauthorized use and distortion of your personal data. Minors The SITE does not accept any information from persons under the age of 18 without the consent of their parents or legal guardians. In addition, persons under the age of 18 may not make any purchases or other legal actions on this Site without the consent of their parents or legal guardians, if this is not allowed by law.'
                },
                {
                    title: {
                        ru: 'Модификация',
                        en: 'Modification'
                    },
                    ru: 'САЙТ имеет право изменять данную Политику конфиденциальности, изменять и корректировать условия доступа или запрещать доступ к сайту, а также изменять его содержание в любое время без предварительного уведомления.',
                    en: 'The SITE has the right to change this Privacy Policy, change and adjust the conditions of access or deny access to the site, as well as change its content at any time without prior notice.'
                },
            ]
        };

    .modal-b(id="form")
        .modal-b__wrapper
            .modal-b__inner
                form.modal-b__form.form.gallery.glide
                    h2.form__title !{gallery.btn[lang]}
                    .form__dots-wrapper
                        .gallery__dots.form__dots(data-glide-el='controls[nav]')
                            button.gallery__dot(aria-label='1 слайд' data-glide-dir='=0')
                                +icon({iconName: 'kaleydo-icon', className: 'gallery__dot-icon'})
                            button.gallery__dot(aria-label='2 слайд' data-glide-dir='=1')
                                +icon({iconName: 'gallery-icon-2', className: 'gallery__dot-icon'})
                            button.gallery__dot(aria-label='3 слайд' data-glide-dir='=2')
                                +icon({iconName: 'kaleydo-icon', className: 'gallery__dot-icon'})
                                | +
                                +icon({iconName: 'gallery-icon-2', className: 'gallery__dot-icon'})
                        .gallery__title-wrapper
                            h3.gallery__title.gallery__title_active !{gallery.items[0].title[lang]}
                            h3.gallery__title !{gallery.items[1].title[lang]}
                            h3.gallery__title !{gallery.items[2].title[lang]}
                    .form__inputs
                        label.input-wrapper.input-wrapper_name.form__input(aria-label=modalForm.placeholder[lang])
                            +icon({iconName: 'input-user', className: 'input-wrapper__icon'})
                            input.input-wrapper__input(type="text" data-input-name placeholder=modalForm.placeholder[lang])
                        label.input-wrapper.input-wrapper_tel.form__input(aria-label='Ваш телефон')
                            +icon({iconName: 'input-phone', className: 'input-wrapper__icon'})
                            input.input-wrapper__input(type="tel" placeholder="+7 (___) ___ __ __")
                    p.form__agreement !{modalForm.agreement[lang]}
                    .gallery__info-wrapper
                        .gallery__info-track.glide__track(data-glide-el="track")
                            ul.gallery__info-slides.glide__slides
                                li.gallery__info-item
                                    .gallery__info
                                        .gallery__price-wrapper
                                            p.gallery__price
                                                span(data-price) €400.00 EUR
                                                +icon({iconName: 'coupon', className: 'gallery__price-icon'})
                                            p.gallery__price-old €500.00 EUR
                                        button.gallery__button.btn(aria-label=gallery.btn[lang]) !{gallery.btn[lang]}
                                    p.gallery__set
                                        +icon({iconName: 'check', className: 'gallery__set-icon'})
                                        | !{gallery.items[0].complect[lang]}
                                li.gallery__info-item
                                    .gallery__info
                                        .gallery__price-wrapper
                                            p.gallery__price
                                                span(data-price) €80.00 EUR
                                                +icon({iconName: 'coupon', className: 'gallery__price-icon'})
                                            p.gallery__price-old €100.00 EUR
                                        button.gallery__button.btn(aria-label=gallery.btn[lang]) !{gallery.btn[lang]}
                                li.gallery__info-item
                                    .gallery__info
                                        .gallery__price-wrapper
                                            p.gallery__price
                                                span(data-price) €420.00 EUR
                                                +icon({iconName: 'coupon', className: 'gallery__price-icon'})
                                            p.gallery__price-old €480.00 EUR
                                            p.gallery__price-old €600.00 EUR
                                        button.gallery__button.btn(aria-label=gallery.btn[lang]) !{gallery.btn[lang]}
                                    p.gallery__set
                                        +icon({iconName: 'check', className: 'gallery__set-icon'})
                                        | !{gallery.items[2].complect[lang]}
    .modal-b(id="menu")
        .modal-b__wrapper
            .modal-b__inner
                .modal-b__nav-wrapper.nav-wrapper
                    +nav({className: 'nav-wrapper__nav'})
                    .nav-wrapper__links
                        a.nav-wrapper__link(href="https://apps.apple.com/ru/app/kaleydo-evo/id1422696712" target="_blank")
                            +icon({iconName: 'applestore', className: 'nav-wrapper__link-icon', viewBoxName: '0 0 111 30'})
                        a.nav-wrapper__link(href="https://play.google.com/store/apps/details?id=com.getudo.alcea.android&hl=ru" target="_blank")
                            +icon({iconName: 'googleplay', className: 'nav-wrapper__link-icon', viewBoxName: '0 0 126 30'})
                    +socials({className: 'nav-wrapper__socials'})
                    .modal-b__button-wrapper
                        button.btn.nav-wrapper__button(data-call-form) !{gallery.btn[lang]}
                    +languages({className: 'nav-wrapper__languages'})
    .modal-b(id="policy")
        .modal-b__wrapper.modal-text
            .modal-b__inner
                .modal-text__wrapper
                    h1.modal-text__title !{policy.title[lang]}
                    p.modal-text__text !{policy.text[0][lang]}
                    h4.modal-text__subtitle !{policy.text[1].title[lang]}
                    p.modal-text__text !{policy.text[1][lang]}
                    h4.modal-text__subtitle !{policy.text[2].title[lang]}
                    p.modal-text__text !{policy.text[2][lang]}
    .modal-b(id="delivery")
        .modal-b__wrapper.modal-text
            .modal-b__inner
                .modal-text__wrapper
                    h1.modal-text__title Доставка
                    p.modal-text__text Данная Политика конфиденциальности применима к данному Сайту. После просмотра данного Сайта обязательно прочитайте текст, содержащий политику конфиденциальности используемого сайта. В случае несогласия с данной Политикой конфиденциальности прекратите использование данного Сайта. Заполнив любую из форм и используя данный Сайт, Вы тем самым выражаете согласие с условиями изложенной ниже Политики конфиденциальности. Сайт охраняет конфиденциальность посетителей сайта. Персональная информация Для того чтобы оказывать вам услуги, отвечать на вопросы, выполнять ваши пожелания и требования требуется такая информация, как ваше имя и номер телефона. САЙТ может использовать указанную информацию для ответов на запросы, а также для связи с Вами по телефону с целью предоставления информации о предлагаемых САЙТ услугах и рекламных кампаниях. При поступлении от вас обращения в виде отправки любой заполненной на сайте формы САЙТ может потребоваться связаться с Вами для получения дополнительной информации, необходимой для вашего обслуживания и ответа на интересующие вопросы. САЙТ обязуется не передавать данную информацию третьим лицам без Вашего разрешения, за исключением информации, необходимой для выполнения вашего обслуживания. Со своей стороны, Вы предоставляете САЙТ право использовать любую сообщнную Вами информацию для выполнения указанных выше действий.
                    h4.modal-text__subtitle Безопасность
                    p.modal-text__text Передача персональных данных в любой форме (лично, по телефону или через Интернет) всегда связана с определенным риском, поскольку не существует абсолютно надежных (защищенных от злонамеренных посягательств) систем, однако САЙТ принимает необходимые адекватные меры для минимизации риска и предотвращения несанкционированного доступа, несанкционированного использования и искажения Ваших персональных данных. Несовершеннолетние САЙТ не принимает никакой информации от лиц моложе 18 лет без согласия их родителей или законных опекунов. Кроме того, лица моложе 18 лет не могут совершать каких-либо покупок или иных юридических действий на данном Сайте без согласия родителей или законных опекунов, если это не допускается законодательством.
                    h4.modal-text__subtitle Модификация
                    p.modal-text__text САЙТ имеет право изменять данную Политику конфиденциальности, изменять и корректировать условия доступа или запрещать доступ к сайту, а также изменять его содержание в любое время без предварительного уведомления.
    .modal-b(id="partners")
        .modal-b__wrapper.modal-text
            .modal-b__inner
                .modal-text__wrapper
                    h1.modal-text__title Партнеры
                    p.modal-text__text Данная Политика конфиденциальности применима к данному Сайту. После просмотра данного Сайта обязательно прочитайте текст, содержащий политику конфиденциальности используемого сайта. В случае несогласия с данной Политикой конфиденциальности прекратите использование данного Сайта. Заполнив любую из форм и используя данный Сайт, Вы тем самым выражаете согласие с условиями изложенной ниже Политики конфиденциальности. Сайт охраняет конфиденциальность посетителей сайта. Персональная информация Для того чтобы оказывать вам услуги, отвечать на вопросы, выполнять ваши пожелания и требования требуется такая информация, как ваше имя и номер телефона. САЙТ может использовать указанную информацию для ответов на запросы, а также для связи с Вами по телефону с целью предоставления информации о предлагаемых САЙТ услугах и рекламных кампаниях. При поступлении от вас обращения в виде отправки любой заполненной на сайте формы САЙТ может потребоваться связаться с Вами для получения дополнительной информации, необходимой для вашего обслуживания и ответа на интересующие вопросы. САЙТ обязуется не передавать данную информацию третьим лицам без Вашего разрешения, за исключением информации, необходимой для выполнения вашего обслуживания. Со своей стороны, Вы предоставляете САЙТ право использовать любую сообщнную Вами информацию для выполнения указанных выше действий.
                    h4.modal-text__subtitle Безопасность
                    p.modal-text__text Передача персональных данных в любой форме (лично, по телефону или через Интернет) всегда связана с определенным риском, поскольку не существует абсолютно надежных (защищенных от злонамеренных посягательств) систем, однако САЙТ принимает необходимые адекватные меры для минимизации риска и предотвращения несанкционированного доступа, несанкционированного использования и искажения Ваших персональных данных. Несовершеннолетние САЙТ не принимает никакой информации от лиц моложе 18 лет без согласия их родителей или законных опекунов. Кроме того, лица моложе 18 лет не могут совершать каких-либо покупок или иных юридических действий на данном Сайте без согласия родителей или законных опекунов, если это не допускается законодательством.
                    h4.modal-text__subtitle Модификация
                    p.modal-text__text САЙТ имеет право изменять данную Политику конфиденциальности, изменять и корректировать условия доступа или запрещать доступ к сайту, а также изменять его содержание в любое время без предварительного уведомления.
