mixin header({className = false, is404 = false, isThanks = false})
    include ../../components/hamburger/hamburger
    include ../../components/nav/nav
    include ../../components/socials/socials
    include ../../components/advantages/advantages
    include ../../components/gallery/gallery
    include ../../components/parallax-stripes/parallax-stripes
    include ../../components/languages/languages
    include ../../components/gexagon/gexagon

    -
        const header = {
            title: {
                ru: 'Сканируй при помощи <mark class="mark">Kaleydo EVO mini</mark> любой цвет,',
                en: 'Capture with <mark class="mark">Kaleydo EVO mini</mark> every color '
            },
            subtitle: {
                ru: 'который привлек твое внимание',
                en: 'that draws your attention'
            },
            moreInfo: {
                ru: 'Больше информации',
                en: 'More information',

                link: [
                    {
                        ru: 'Скачать BROCHURE KALEYDO_EVO_ENG - 523Kb',
                        en: 'Download BROCHURE KALEYDO_EVO_ENG - 523Kb'
                    },
                    {
                        ru: 'Скачать KALEYDO_Evo_eng - 2,61 Мб',
                        en: 'Download KALEYDO_Evo_eng - 2,61 Mb'
                    },
                ]
            }
        };
        const navRow = {
            button: {
                ru: 'Заказать',
                en: 'Order now',
            }
        };
        const topSection = {
            description: {
                ru: 'Устройство, которое определяет цвета с любой поверхности',
                en: 'Instrument that measures color on any flat surface',
            }
        };
        const page404 = {
            subtitle: {
                ru: 'К сожалению, запрошенная вами страница не существует',
                en: 'Sorry, the page you requested does not exist',
            },
            backBtn: {
                ru: 'На главную',
                en: 'To home',
                href: {
                    ru: './',
                    en: './index-en.html',
                }
            }
        };
        const pageThanks = {
            title: {
                ru: 'Спасибо, <br>ваш заказ принят',
                en: 'Thank you, your order has been accepted',
            },
            subtitle: {
                ru: 'Менеджер перезвонит Вам, чтобы уточнить детали доставки и оплаты.',
                en: 'The manager will call you back to clarify the details of delivery and payment.',
            },
            backBtn: {
                ru: 'На главную',
                en: 'To home',
                href: {
                    ru: './',
                    en: './index-en.html',
                }
            }
        };

    header.header(class=className id="header")
        +parallax-stripes({className: 'header__parallax'})
        .nav-row
            .nav-row__hamburger(data-modal-id="menu")
                +hamburger({className: 'nav-row__hamburger'})
            .nav-row__wrapper
                .nav-row__logo(data-anchor="header")
                    +icon({iconName: 'kaleydo-icon', className: 'nav-row__logo-inner', viewBoxName: '0 0 39 30'})
                    +icon({iconName: 'kaleydo-text', className: 'nav-row__logo-text', viewBoxName: '0 0 174 15'})
            .nav-row__info
                +languages({className: 'nav-row__languages'})
                +socials({className: 'socials_small nav-row__socials'})
                button.btn.btn_small.nav-row__button(aria-label=navRow.button[lang] data-offer-call) !{navRow.button[lang]}
        .top-section
            .top-section__inner
                a.top-section__logo-wrapper(href="/")
                    +icon({iconName: 'logo',
                            className: 'top-section__logo'})
                .top-section__description !{topSection.description[lang]}
                .top-section__links
                    a.top-section__link(href="https://apps.apple.com/ru/app/kaleydo-evo/id1422696712" target="_blank")
                        +icon({iconName: 'applestore', className: 'top-section__link-icon', viewBoxName: '0 0 111 30'})
                    a.top-section__link(href="https://play.google.com/store/apps/details?id=com.getudo.alcea.android&hl=ru" target="_blank")
                        +icon({iconName: 'googleplay', className: 'top-section__link-icon', viewBoxName: '0 0 126 30'})
        if (is404 !== true && isThanks !== true)
            .header__wrapper
                .header__inner
                    .header__text
                        .header__title-block
                            h1.header__title(class="wow animate__fadeInUp" data-wow-duration="1s") !{header.title[lang]}
                            p.header__subtitle(class="wow animate__fadeInUp" data-wow-duration="2s") !{header.subtitle[lang]}
                        +advantages({className: 'header__advantages'})
                        .more-info.more-info_disabled(class="header__more-info wow animate__fadeInUp" data-wow-duration="1.5s")
                            .more-info__top-wrapper
                                .more-info__top
                                    .more-info__icon-wrapper
                                        +icon({iconName: 'arrow-down', className: 'more-info__icon'})
                                    h4.more-info__title
                                        span.more-info__dotted !{header.moreInfo[lang]}
                                    .more-info__icon-wrapper
                                        +icon({iconName: 'arrow-down', className: 'more-info__icon'})
                            .more-info__dropdown(data-open="false")
                                a.download-link.more-info__link(href="./BROCHURE_KALEYDO_EVO_ENG.pdf" download)
                                    | !{header.moreInfo.link[0][lang]}
                                    +icon({iconName: 'pdf', className: 'download-link__icon'})
                                a.download-link.more-info__link(href="./KALEYDO_Evo_eng.pdf" download)
                                    | !{header.moreInfo.link[1][lang]}
                                    +icon({iconName: 'pdf', className: 'download-link__icon'})
                    .header__gallery
                        +gallery({className: 'header__gallery-wrapper'})
                .header__mouse-wrapper(data-anchor="video")
                    <svg class="header__mouse" width="24" height="59" viewBox="0 0 24 59" xmlns="http://www.w3.org/2000/svg">
                        <path class="header__mouse-arrows" d="M18 43L12 49L6 43" fill="none" />
                        <path class="header__mouse-arrows" d="M18 51L12 57L6 51" fill="none" />
                        <path d="M12 0C5.37273 0 0 5.54063 0 12.375V23.625C0 30.4594 5.37273 36 12 36C18.6273 36 24 30.4594 24 23.625V12.375C24 5.54063 18.6273 0 12 0ZM15.2727 13.5C15.2727 15.3562 13.8 16.875 12 16.875C10.2 16.875 8.72727 15.3562 8.72727 13.5V9C8.72727 7.14375 10.2 5.625 12 5.625C13.8 5.625 15.2727 7.14375 15.2727 9V13.5Z" stroke="transparent"/>
                    </svg>
        else if (is404 === true)
            .not-found__wrapper
                .not-found__inner
                    .not-found__col
                        h1.not-found__title 404
                        h2.not-found__subtitle !{page404.subtitle[lang]}
                        a.go-back(href=page404.backBtn.href[lang])
                            .go-back__icon
                                +icon({iconName: 'arrow-left', className: 'go-back__icon-inner', viewBoxName: '0 0 18 32'})
                            .go-back__text !{page404.backBtn[lang]}
        else if (isThanks === true)
            .thanks__wrapper
                .thanks__inner
                    .thanks__col
                        h1.thanks__title !{pageThanks.title[lang]}
                        h2.thanks__subtitle !{pageThanks.subtitle[lang]}
                        a.go-back(href=page404.backBtn.href[lang])
                            .go-back__icon
                                +icon({iconName: 'arrow-left', className: 'go-back__icon-inner', viewBoxName: '0 0 18 32'})
                            .go-back__text !{pageThanks.backBtn[lang]}
                    .thanks__gexagon
                        +gexagon({className: 'gexagon_thanks', isThanks: true})
