mixin advantages({className = false})
    .advantages(class=className)
        -
            let advantages = [
                {
                    icon: 'pen',
                    title: {
                        ru: 'Всегда под рукой',
                        en: 'Always in your pocket'
                    },
                    description: {
                        ru: 'Легкий и меньше мяча для настольного тенниса',
                        en: 'It’s light and smaller than a table tennis ball!',
                    }
                },
                {
                    icon: 'phone',
                    title: {
                        ru: 'Умный',
                        en: 'Smart'
                    },
                    description: {
                        ru: 'Подключается к приложению IOS и Android через Bluetooth',
                        en: 'It connects to ios and android app over bluetooth',
                    }
                },
                {
                    icon: 'cup',
                    title: {
                        ru: 'Престижный дизайн',
                        en: 'Attractive design'
                    },
                    description: {
                        ru: 'Подключается к приложению IOS и Android через Bluetooth',
                        en: 'It connects to ios and android app over bluetooth',
                    }
                },
            ];
        ul.advantages__list
            - let i = 0;
            each val, index in advantages
                li.advantages__item(class="wow animate__fadeInUp" data-wow-duration=`${1.5 + i}s`)
                    .advantages__img-wrapper
                        +icon({iconName: `advantage-${val.icon}`, className: 'advantages__img'})
                    .advantages__text
                        h4.advantages__title= val.title[lang]
                        p.advantages__description= val.description[lang]
                - i += .5;
