- const lang = 'en';
block variables

doctype html
html(lang="ru")
	head
		if (is404 !== true)
			// Google Tag Manager
			script(data-skip-moving="true").
				(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
				new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
				j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
				'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
				})(window,document,'script','dataLayer','GTM-P5MMQV3');
			// End Google Tag Manager
		meta(charset="utf-8")
		title #{title}
		meta(name="description" content=description)
		meta(property="og:title" content=title)
		meta(property="og:site_name" content="Kaleydoevomini")
		meta(property="og:url" content="https://kaleydoevomini.com/")
		meta(property="og:description" content=description)
		meta(property="og:image" content="img/social-image.jpg")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="theme-color" content="#fff")
		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="yandex-verification" content="45477218802c84a2")
		link(rel="shortcut icon" href="img/favicons/favicon.svg" type="image/svg")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap")
		link(rel="stylesheet" href="styles/main.css")
		base(href="/")
	body
		if (is404 !== true)
			// Google Tag Manager (noscript)
			<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P5MMQV3" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
			// End Google Tag Manager (noscript)
		.cursor
		.cursor-inner
		script.
			const lang = 'en';

		-
			let gallery = {
				btn: {
					ru: 'Заказать',
					en: 'Order Now'
				},
				items: [
					{
						title: {
							ru: 'Kaleydo Evo mini',
							en: 'Kaleydo Evo mini',
						},
						complect: {
							ru: 'В комплект входит: Kaleydo Evo mini, micro USB кабель, ремешок',
							en: 'Package includes: Kaleydo Evo mini, micro USB cable, lanyard'
						}
					},
					{
						title: {
							ru: 'Каталог Alcea',
							en: 'Catalog Alcea',
						},
						complect: {
							ru: '',
							en: ''
						}
					},
					{
						title: {
							ru: 'Kaleydo Evo mini + Каталог Alcea',
							en: 'Kaleydo Evo mini + Catalog Alcea ',
						},
						complect: {
							ru: 'В комплект входит: Kaleydo Evo mini, micro USB кабель, ремешок + Каталог Alcea',
							en: 'The kit includes: Kaleydo Evo mini, micro USB cable, lanyard + Alcea catalog'
						}
					},
				]
			};
		block content
		block scripts
